{% extends "base.html" %}
{% block title %} Email xabar yuborildi {% endblock title %}
{% load static %}  
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row mx-auto">
        <div class="col-md-8">
            <h1>Email pochtangizni tekshiring !...</h1>
            <p>Parolni tiklash uchun siz kiritgan email manzilga havola yubordik. Anashu havolaga kirish orqali parolingizni qayta tiklashingiz mumkin !</p>
            <br>
            <a href="{% url "home" %}" class="btn btn-primary">Bosh sahifa</a>
        </div>
    </div>
</div>


{% endblock content %}