{% load i18n %}{% autoescape off %}
{% blocktranslate %}Siz bu xabarni qabul qilishingizdan maqsad, chunki siz {{ site_name }} saytimiz orqali parolingizni tiklash uchun so'rov yuborgansiz !{% endblocktranslate %}

{% translate "Iltimos quydagi havolaga kiring va parolingizni qayta tiklashni tasdiqlang:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Siz parolingizni unutgan username:' %} {{ user.get_username }}

{% translate "Bizning websaytimizdan foydalanganingiz uchun tashakkur!" %}

{% blocktranslate %}Hurmat va ehtirom bilan {{ site_name }} jamoasi{% endblocktranslate %}

{% endautoescape %}
