{% extends "base.html" %}
{% block title %} Parolni tiklash {% endblock title %}
{% load static %}  
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row mx-auto">
        <div class="col-md-8">
            <h1>Parolni qayta tiklash</h1>
            <p>Parolni tiklash uchun quyidagi formaga websaytimizdan ro'yxatdan o'tgan email manzilingizni kiriting, boshqa email kiritish orqali parolni tiklay olmaysiz. Biz sizga parolni tiklash uchun ko'rsatma yuboramiz !...</p>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                <button type="submit" class="btn btn-primary mt-3">Emailni yuborish</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}