{% extends "base.html" %}
{% block title %} Parolni tiklash {% endblock title %}
{% load static %}  
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row mx-auto">
        {% if validlink %}
        <div class="col-md-8">
            <h1>Parolni qayta tiklash</h1>
            <p>Parolni tiklash uchun quyidagi formani to'ldiring. Parolni tiklash uchun yangi parolni ikki marotaba formada ko'rsatilganidek kiriting !...</p>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                <button type="submit" class="btn btn-primary mt-3">Parolni tiklash</button>
            </form>
        </div>
        {% else %}
        <h1>Parolni tiklash amalga oshmadi</h1>
        <p>Siz kirgan havola yaroqsiz yoki foydalanish muddati tugadi. Iltimos qaytdan urinib ko'ring!.</p>
        <br>
        <p>
            <a href="{% url "password_reset" %}" class="btn btn-primary">Parolni tiklash</a>
        </p>
        {% endif %}
    </div>
</div>


{% endblock content %}